{% extends 'base.html.twig' %}

{% block main %}
    <div class="section main">
        <div class="container text-center">
            <h1 class="quicksand_bold title-h1" style="margin-top: 20px;">Cours de Développement web</h1>
            <h3 class="line-after-title quicksand_light title-h3">Toute année confondue</h3>

            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <a href="../cours-DW/index.php?cours=Html" class="lien-cours">
                        <div class="shadow case-cours">
                            <div class="centrage-cours">
                                <img src="../img/html.png" class="icone-cours">
                                <br>HTML
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-3">
                    <a href="#" class="lien-cours">
                        <div class="shadow case-cours">
                            <div class="centrage-cours">
                                <img src="../img/css.png" class="icone-cours">
                                <br>CSS
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-3">
                    <a href="#" class="lien-cours">
                        <div class="shadow case-cours">
                            <div class="centrage-cours">
                                <img src="../img/javascript.png" class="icone-cours">
                                <br>JAVASCRIPT
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-3">
                    <a href="#" class="lien-cours">
                        <div class="shadow case-cours">
                            <div class="centrage-cours">
                                <img src="../img/php.png" class="icone-cours">
                                <br>PHP
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-3">
                    <a href="#" class="lien-cours">
                        <div class="shadow case-cours">
                            <div class="centrage-cours">
                                <img src="../img/sql.png" class="icone-cours">
                                <br>SQL
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-3">
                    <a href="#" class="lien-cours">
                        <div class="shadow case-cours">
                            <div class="centrage-cours">
                                <img src="../img/symfony.png" class="icone-cours">
                                <br>SYMFONY
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-3">
                    <a href="#" class="lien-cours">
                        <div class="shadow case-cours">
                            <div class="centrage-cours">
                                <img src="../img/laravel.png" class="icone-cours">
                                <br>LARAVEL
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-3">
                    <a href="#" class="lien-cours">
                        <div class="shadow case-cours">
                            <div class="centrage-cours">
                                <img src="../img/wordpress.png" class="icone-cours">
                                <br>WORDPRESS
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-3">
                    <a href="#" class="lien-cours">
                        <div class="shadow case-cours">
                            <div class="centrage-cours">
                                <img src="../img/angular.png" class="icone-cours">
                                <br>ANGULAR
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-3">
                    <a href="#" class="lien-cours">
                        <div class="shadow case-cours">
                            <div class="centrage-cours">
                                <img src="../img/nodsjs.png" class="icone-cours">
                                <br>NODE JS
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-3">
                    <a href="#" class="lien-cours">
                        <div class="shadow case-cours">
                            <div class="centrage-cours">
                                <img src="../img/python.png" class="icone-cours">
                                <br>PYTHON
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-3">
                    <a href="#" class="lien-cours">
                        <div class="shadow case-cours">
                            <div class="centrage-cours">
                                <img src="../img/bootstrap.png" class="icone-cours">
                                <br>BOOTSTRAP
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!--<div style="background: #FDA366; height: 2000px;"></div>-->
        </div>
    </div>
{% endblock %}