{% extends 'base.html.twig' %}

{% block main %}
    <div class="section main">
        <div class="container text-center">
            <h1 class="quicksand_bold title-h1 line-after-title" style="margin-top: 20px;">Cours de Jeux vidéo</h1>

            <div class="row">
                <div class="col-12 text-center">
                    <div class="cadre-outils-langages shadow">
                        <a href="../../langages-web.php"><button>Tous les langages web</button></a>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <a class="lien-cours-2" href="../../cours-JV/A2.php">
                        <div class="shadow case-cours">
                            <div class="centrage-cours">
                                <img class="icone-cours-2" src="../../img/A2.png">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-6">
                    <a class="lien-cours-2" href="../../cours-JV/A3.php">
                        <div class="shadow case-cours">
                            <div class="centrage-cours">
                                <img class="icone-cours-2" src="../../img/A3.png">
                            </div>
                        </div>
                    </a>
                </div>
        </div>
    </div>
{% endblock %}